   <%- include('_templates/header') %>
   <div class="bd-masthead mb-3" id="content">
    <div class="container px-4 px-md-3 py-md-4">
      <div class="row align-items-lg-center">
        <div
          class="col-8 mx-auto col-md-4 order-md-2 col-lg-5 mt-4 mt-md-0 d-flex align-items-center justify-content-center">
          <img src="./images/hapoos_logo.svg" class="img-fluid mb-3 mb-md-0 bbn-splash-image">
        </div>
        <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
          <h1 class="mb-3">Simplify development of cloud-native applications</h1>
          <p class="lead mb-4">
            Hapoos.js is a progressive framework for building cloud-native applications.
            It starts with a foundational API for managing cloud resources, building up to
            patterns for creating secure, cost-effective cloud applications.
          </p>

          <div class="d-flex flex-column flex-md-row">
            <a class="btn btn-primary btn-lg mb-3 me-md-3" href="./docs/index.html" role="button">Get Started</a>
            <a class="btn btn-secondary btn-lg mb-3" href="https://github.com/hapoosjs" role="button">Source Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container my-3">
    <div class="row justify-content-between flex-row align-items-stretch">
      <div class="card flex-grow-1 col-md m-md-3">
        <!---->
        <!---->
        <div class="card-body">
          <div>
            <div>
              <div class="text-center">
                <i class="material-icons md-64 p-4 text-danger">
                  lock_open
                </i>
                <h2>Open Source</h2>
                <div class="lead text-muted px-2 py-4">
                  Released under MIT license. Use in open source or commercial projects.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
        <!---->
      </div>
      <div class="card flex-grow-1 col-md m-md-3">
        <!---->
        <!---->
        <div class="card-body">
          <div>
            <div>
              <div class="text-center">
                <i class="material-icons md-64 p-4 text-danger">
                  code
                </i>
                <h2>Simplicity</h2>
                <div class="lead text-muted py-4 px-2">
                  Abstract APIs and application patterns hide cloud platform complexities.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
        <!---->
      </div>
      <div class="card flex-grow-1 col-md m-md-3">
        <div class="card-body">
          <div>
            <div>
              <div class="text-center">
                <i class="material-icons md-64 p-4 text-danger">
                  share
                </i>
                <h2>Productivity</h2>
                <div class="lead text-muted px-2 py-4">
                  Focus on functionality. Leave other "ilities" to Hapoos.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('_templates/footer') %>